@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Ejercicio Propuesto <b>Nro 1</b> - Desarrollo de Aplicaciones!</h1>
    <br />
    <h4>Proyecto MVC utilizando la autenticación de ASP.Net Core 5.</h4>
    <h1 class="display-4"><b>UCSM</b></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
